@import "tailwindcss";

@theme {
  --color-background: #f8f8f8;
  --color-background-sec: #e5e5e5;
  --color-foreground: #0a0a0a;
  --color-foreground-sec: #171717;
  --color-foreground-light: #737373;
  --color-primary: #121b2d;

  --font-space: var(--font-space-grotesk);
  --font-null: var(--font-null);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-space-grotesk), sans-serif;
}

.logo-font {
  font-family: var(--font-null), sans-serif;
}

a {
  cursor: pointer;
}
